---
layout: archive
title: "数理笔记"
permalink: /notes/
author_profile: true
---

{% include base_path %}

<h2>数学</h2>
<h3>
  <a href="https://cirnophysics.github.io/files/notes/logic.pdf">
    0. 一阶谓词逻辑与ZFC集合论
  </a>
</h3>
<h3>1. 分析与方程</h3>
<div class="notes-grid">
  {% for post in site.notes reversed %}
     {% if post.path contains "math/analysis" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h3>2. 代数与数论</h3>
<div class="notes-grid">
  {% for post in site.notes reversed %}
     {% if post.path contains "math/algebra" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2>物理学</h2>
<h3>0. 理论物理基础</h3>
<div class="notes-grid">
  {% for post in site.notes reversed %}
     {% if post.path contains "physics/fund" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h3>1. 数学物理方法</h3>
<div class="notes-grid">
  {% for post in site.notes reversed %}
     {% if post.path contains "physics/MP" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h3>2. 经典引力与宇宙学</h3>
<div class="notes-grid">
  {% for post in site.notes reversed %}
     {% if post.path contains "physics/GR" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h3>3. 高能物理理论</h3>
<div class="notes-grid">
  {% for post in site.notes reversed %}
     {% if post.path contains "physics/QFT" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h3>4. 统计物理与复杂系统</h3>
<div class="notes-grid">
  {% for post in site.notes reversed %}
     {% if post.path contains "physics/cond" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<h2>未归类</h2>
  
<h3>
  <a href="https://CirnoPhysics.github.io/files/Yau.pdf">
    第十七届丘成桐大学生数学竞赛（数学物理赛道）
个人解答
  </a>
</h3>

<h3>
  <a href="https://CirnoPhysics.github.io/files/combinatories.pdf">
   组合学：计数原理
  </a>
</h3>

<h3>
  <a href="https://CirnoPhysics.github.io/files/indef.pdf">
    不定积分常用技巧
  </a>
</h3>

<h3>
  <a href="https://CirnoPhysics.github.io/files/history.pdf">
    物理学史大纲
  </a>
</h3>
