---
layout: archive
title: "笔记与随想"
permalink: /notes/
author_profile: true
---

{% include base_path %}

<h2>数学</h2>
<div class="notes-grid">
  {% for post in site.notes reversed %}
    {% if post.path contains "math/" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
<h2>物理学</h2>
<div class="notes-grid">
  {% for post in site.notes.physics reversed %}
     {% if post.path contains "physics/" %}
      <div class="grid-item">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
